@import "../../public/style/variable.scss";

.header__page {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 50px $paddingSection;
  background: $colorNeutral1;
  z-index: 85;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  & .logo-header {
    color: $colorPrimaryBase;
    font-family: $fontSemiBold;
    font-size: 2rem;
    text-transform: uppercase;
    & span {
      color: #cc8900;
    }
  }
  & .header__nav {
    display: flex;
    align-items: center;
    gap: 10px;
    & .nav__item__header {
      font-family: $fontRegular;
      text-decoration: none;
      font-size: 1rem;
      text-transform: uppercase;
      color: $colorNeutral2;
      opacity: 0.6;
    }
    & .active_item_nav {
      opacity: 1;
    }
  }
}
