@import "../../public/style/variable.scss";

.header__page {
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  padding: 40px $paddingSection;
  background: $colorNeutral1;
  z-index: 85;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  & .logo-header {
    color: $colorPrimaryBase;
    font-family: $fontBold;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none !important;
    cursor: pointer;
    & span {
      color: #cc8900;
    }
  }
  & .header__nav {
    display: flex;
    align-items: center;
    gap: 10px;
    & .nav__item__header {
      font-family: $fontRegular;
      text-decoration: none;
      font-size: 1rem;
      text-transform: uppercase;
      color: $colorNeutral2;
      opacity: 0.6;
    }
    & .active_item_nav {
      opacity: 1;
    }
  }
  position: fixed;
}

.btn-menu {
  background: $colorPrimaryBase;
  display: none !important;
  flex-direction: column;
  row-gap: 5px;
  padding: 10px !important;
  border-radius: 0.2rem !important;
  & * {
    border-radius: 0.2rem !important;
  }
  & .line {
    height: 2px;
    width: 25px;
    background: $colorNeutral1;
    transition: transform 0.3s ease;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 0.2rem !important;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s linear;
    box-shadow: 0 0 5px 10px #ffac00;
  }
  &:active:after {
    box-shadow: 0 0 0 0 #ffac00;
    position: absolute;
    border-radius: 0.2rem !important;
    left: 0;
    top: 0;
    background: rgba($colorPrimary100, 0.15);
    opacity: 1;
    transition: 0s;
  }
}

.btn-menu.active .line:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.btn-menu.active .line:nth-child(2) {
  opacity: 0;
}

.btn-menu.active .line:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}
@media only screen and (max-width: 1070px) {
  $paddingSection: 20px;
  .header__page {
    padding: 40px $paddingSection;
  }
}

@media only screen and (max-width: 1010px) {
  .header__page {
    & .profil__session,
    .header__nav {
      display: none !important;
    }
  }
  .btn-menu {
    display: flex !important;
  }
}
