@import "./variable.scss";
@import "./reset.scss";
@import "./mixin.scss";
html {
  scroll-behavior: smooth;
  user-select: none;
}

* {
  scroll-behavior: smooth !important;
}

body {
  // position: relative;
  font-family: $fontRegular;
  background: $colorNeutral1;
  color: $colorNeutral2;
}

.container__page {
  overflow: hidden;
}
.Toastify__toast-container {
  & * {
    font-family: $fontRegular !important;
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
}

.Toastify__progress-bar {
  background: $colorPrimaryBase !important;
}
.Toastify__progress-bar--info {
  background: $colorPrimaryBase !important;
}

.Toastify__toast-icon svg * {
  color: $colorPrimaryBase !important;
  fill: $colorPrimaryBase !important;
}

.img-fluid {
  height: 100%;
  width: 100%;
  object-fit: cover !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-button {
  background-color: #000000;
}

::-webkit-scrollbar-track {
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  background-color: $colorPrimaryBase;
  opacity: 0.7;
}

::-webkit-scrollbar-corner {
  background-color: #333;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $colorPrimaryBase;
}

.sections__movies {
  @include flexbox(column, flex-start, flex-start);
  row-gap: 20px;
  padding-bottom: $paddingSection;
  & .title__section {
    margin: 0 $paddingSection;
  }
}

@media only screen and (max-width: 1070px) {
  $paddingSection: 20px;
  .sections__movies {
    padding-bottom: $paddingSection;
    & .title__section {
      margin: 0 $paddingSection;
    }
  }
}
