@import "../../public/style/main.scss";

#banner {
  @include flexbox(column, flex-start, flex-start);
  row-gap: 20px;
  background: url("/images/cover/wallpaperflare.com_wallpaper.jpg");
  font-family: $fontBold;

  position: relative;
  & p {
    max-width: 800px;
    font-size: 2rem;
    line-height: 2.3rem;
  }

  z-index: 8;
  & * {
    z-index: 8;
  }
  & span {
    color: $colorPrimaryBase;
  }
  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    box-sizing: 0;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.12),
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.9),
      rgb(0, 0, 0)
    );
  }
}

#content__favorite__movie {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-bottom: 55px !important;
  & .content-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    flex-wrap: wrap;
    gap: 30px;
  }
  & .btn {
    align-self: center;
  }
}

.container__no_movie {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 5px;
  width: 100%;
  padding-bottom: 50px !important;
  & img {
    height: 90% !important;
    width: 90% !important;
  }
  & .container-illustration {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    & svg {
      height: 22rem;
      width: 22rem;
    }
  }
  & p {
    max-width: 800px;
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-family: $fontBold;
    text-align: center;
  }

  z-index: 8;
  & * {
    z-index: 8;
  }
  & span {
    color: $colorPrimaryBase;
  }
}

@media only screen and (max-width: 1950px) {
  #content__favorite__movie {
    & .content-list {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media only screen and (max-width: 1400px) {
  #content__favorite__movie {
    & .content-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media only screen and (max-width: 1200px) {
  #content__favorite__movie {
    & .content-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media only screen and (max-width: 900px) {
  #content__favorite__movie {
    & .content-list {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

// @media only screen and (max-width: 300px) {
//   #content__favorite__movie {
//     & .content-list {
//       grid-template-columns: repeat(1, 1fr);
//     }
//   }
// }
