@import "../../public/style/variable.scss";

.btn {
  border: none;
  outline: none;
  font-family: $fontRegular;
  font-size: 1rem;
  padding: 0px 35px;
  height: 60px;
  border-radius: $raduisBtn;
  border: 2px solid $colorPrimaryBase;
  position: relative;
  transition: all 0.3s linear !important;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.btn-icon {
  padding: 13px 20px;
  border-radius: $raduisBtn !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s linear !important;
}
.btn-primary {
  background: $colorPrimaryBase;
  color: $colorNeutral2;
  &::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: $raduisBtn !important;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s linear;
    box-shadow: 0 0 5px 10px #ffac00;
  }
  &:active:after {
    box-shadow: 0 0 0 0 #ffac00;
    position: absolute;
    border-radius: $raduisBtn !important;
    left: 0;
    top: 0;
    background: rgba($colorPrimary100, 0.15);
    opacity: 1;
    transition: 0s;
  }
}

.btn-secondary {
  background: $colorNeutral1;
  border: 2px solid $colorPrimaryBase;
  color: $colorNeutral2;
  &::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: $raduisBtn !important;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s linear;
    box-shadow: 0 0 5px 10px #ffac00;
  }
  &:active:after {
    box-shadow: 0 0 0 0 #ffac00;
    position: absolute;
    border-radius: $raduisBtn !important;
    left: 0;
    top: 0;
    background: rgba($colorPrimary100, 0.15);
    opacity: 1;
    transition: 0s;
  }
}

.btn-danger {
  background: #ff0f0f;
  color: $colorNeutral2;
  border-color: #ff0f0f;
  &::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: $raduisBtn !important;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s linear;
    box-shadow: 0 0 5px 10px #ff0f0f;
  }
  &:active:after {
    box-shadow: 0 0 0 0 #ff0f0f;
    position: absolute;
    border-radius: $raduisBtn !important;
    left: 0;
    top: 0;
    background: rgba(#ff0f0f, 0.15);
    opacity: 1;
    transition: 0s;
  }
}

.btn-disabled {
  &::after {
    display: none !important;
  }
}

.btn-loading {
  cursor: none !important;
  padding: 0 20px !important;
  border: 2px solid $colorNeutral2;
  border: none !important;

  & .loader-icon-btn {
    height: 2rem;
    width: 2rem;
    animation: rotateIcons 0.3s linear infinite;
    color: #ffffff;
  }
  &::before {
    content: "";
    //display: block;
    position: absolute;
    border-radius: $raduisBtn !important;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(#ffffff, 0.4);
    opacity: 1;
    transition: all 0.5s linear;
  }
}

@keyframes rotateIcons {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(100deg);
  }
}

.btn-link {
  text-decoration: none;
  padding: 0 20px;
  border-radius: $raduisBtn;
  display: flex;
  height: 40px;
}
