@import "../../public/style/variable.scss";

.container__scroll {
  display: flex;
  column-gap: 10px;
  padding: 20px $paddingSection;
  position: relative;
  overflow-y: hidden;
  overflow-x: scroll !important;
  align-self: stretch;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  & .btn-scroll {
    position: sticky;
    z-index: 50;
    align-self: center;
    opacity: 0.5;
    padding: 10px !important;
    &:hover {
      opacity: 1;
    }
  }
  .btn-left {
    left: 0;
  }
  .btn-right {
    right: 0;
  }
  .hidden {
    opacity: 0 !important;
  }
}

.container__scroll::-webkit-scrollbar {
  display: none;
}

.controll-left {
  display: flex;
  align-items: center;
  position: sticky;
  left: 0;
  z-index: 12;
  & .btn {
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 1070px) {
  $paddingSection: 20px;
  .container__scroll {
    padding: 20px $paddingSection;
  }
}
