@import "../../public/style/variable.scss";

.footer__page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px $paddingSection;
  background: #0c0b0b;
  margin-top: auto;
  margin-bottom: 0;
  bottom: 0;
  flex-wrap: wrap;

  gap: 25px;
  & .text-footer {
    display: flex;
    gap: 5px;

    font-family: $fontLight;
    font-size: 0.9rem;
    flex-wrap: wrap;
    & .logo {
      color: $colorPrimaryBase;
      & span {
        color: #cc8900;
      }
    }
    a {
      text-decoration: none;
      color: $colorPrimaryBase;
    }
  }

  & .social__media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    & a svg {
      color: $colorPrimaryBase;
      height: 1.5rem;
      width: 1.5rem;
      flex: none;
    }
  }
}

@media only screen and (max-width: 1070px) {
  $paddingSection: 20px;
  .footer__page {
    padding: 25px $paddingSection;
  }
}
